@import "../../../theme/scss/resources";

.container{
  //width: 5.1rem;

  @include media(md) {
    display: grid;
    justify-self: end;
  }

  & .contentWrap{
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    grid-gap: 1rem;

    border-right: 1px solid #808080;
    padding-right: 1rem;

    & .icon{
      cursor: pointer;
      font-size: 2rem;
      color: #ffffff;

      &:last-child{
        font-size: 1.6rem;
      }
    }

    & .themeSwitcher{


      @include media(md) {
        border-left: none;
        padding-left: 0;
      }

      & .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;

        & .input {
          opacity: 0;
          width: 0;
          height: 0;

          &:checked + span:before{
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
          }
        }
        & .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-transition: .4s;
          transition: .4s;

          &.round{
            border-radius: 3.4rem;

            &:before{
              border-radius: 50%;
            }
          }

          &:before{
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }
        }
      }
    }
  }
}