$pageBg: #f0f2f5;
$cardBg: #ffffff;
$mainTextColor: #050505;
$otherTextColor: #606468;
$white: #FFFFFF;
$darkRowBg: #f0f2f5;
$lightRowBg: #ffffff;
$borderBg: #f0f2f5;
$borderActiveBg: #fc5b3f;
$activeBg: #fc5b3f;
$errBg: #E84343;